.Text{
    text-align: center;

}

img{
    width: 350px;
    height: 200px;
    margin-left: 510px;
   
}
h1{
    text-align: center;
}
.Text2{
    text-align: center;

}
img{
    width: 350px;
    height: 200px;
    margin-left: 510px;
   
}
.Text3{
    text-align: center;

}
